.DiaryList .menu_bar {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.DiaryList .menu_bar button {
  flex: 1;
}
/* .menu_bar button: 새 일기 쓰기 버튼 */
/* flex: 1로 남은 공간 모두 차지 */
